name: Trivy Docker Image Scan

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  security-events: write     
  actions: read
  contents: read

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t django-nv .

      - name: Install Trivy (latest)
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin

      - name: Scan Docker image and generate SARIF report
        run: |
          trivy image \
            --exit-code 1 \
            --severity CRITICAL,HIGH \
            --format sarif \
            --output trivy-results.sarif \
            django-nv || true

      - name: Upload Trivy SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif
